@charset "utf-8";
.asset-status {
  margin: -3px 2px -5px 2px;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-position: center center;
}

.asset-status-color-0 {
  background-color: #ff0000;
}

.asset-status-color-1 {
  background-color: #00ff00;
}

.asset-status-color-2 {
  background-color: #0000ff;
}

.asset-status-color-3 {
  background-color: #ffff00;
}

.asset-status-color-4 {
  background-color: #ff00ff;
}

.asset-status-color-5 {
  background-color: #00ffff;
}

.asset-status-color-6 {
  background-color: #000000;
}

.asset-status-color-7 {
  background-color: #ffffff;
}

.asset-status-color-8 {
  background-color: #ff8000;
}

.asset-status-color-9 {
  background-color: #0080ff;
}

.asset-kanban-status {
  background-color: #E6E6E6 !important;
  border-color: #C8C8C8 !important;
}

.asset-kanban-status:hover {
  box-shadow: 1px 1px 2px 1px #6f6f6f !important;
  border-color: #D8D8D8 #C8C8C8 #C8C8C8 #D8D8D8 !important;
  z-index: 1 !important;
}

.asset-kanban-status:hover .asset-status {
  background-image: radial-gradient(at 33% 34%, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 40%), radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 80%);
}

.codup_kanban_left {
  display: inline-block;
  float: left;
  padding-right: 8px;
}

.codup_kanban_left .asset-status {
  display: block;
  margin: 7px 22px;
}

.codup_kanban_info .oe_kanban_avatar {
  margin-left: 20px;
}

.codup_attention_on, .codup_attention_off {
  color: #cccccc !important;
  text-shadow: 0 0 2px black;
  text-decoration: none !important;
}

.codup_attention_on:hover, .codup_attention_off:hover {
  text-decoration: none !important;
}

.codup_attention_on {
  color: gold !important;
}

.o_kanban_view .codup_kanban_details {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  color: #4C4C4C;
}